/* #region ||||| UTILITIES ||||| */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --var-primary: rgb(250, 248, 239);
    --var-secondary: rgb(187, 173, 160);
    --var-tertiary: rgb(238, 228, 218);
    --var-font_light: rgb(249, 245, 240);
    --var-font_dark: rgb(117, 112, 104);
    --var-font_darkest: rgb(0, 0, 0);
    --var-danger: rgb(201, 0, 0);
    --var-success: rgb(40, 170, 0);
}


/* #endregion ||||| UTILITIES ||||| */


/* #region ||||| COMMON RULES ||||| */

body {
    background-color: var(--var-primary);
    font-family: "Fredoka", sans-serif;
}

ul {
    li {
        span {
            padding-right: 1rem;
        }

        i:hover {
            cursor: pointer;
        }
    }
}

.taskCompleted {
    text-decoration: line-through;
}

/* #endregion ||||| COMMON RULES ||||| */